body {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 0.7372198879551821) 0%, rgba(0, 212, 255, 1) 100%);
    font-family: sans-serif;
    color: #fff;
}

main {
    width: 730px;
    margin: 100px auto 50px;
    display: flex;
    align-items: center;
}

.section1 {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0 10px 10px 10px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

h1 {
    text-align: center;
}

button {
    height: 100px;
    width: 100px;
}

button:hover {
    cursor: pointer;
}

.empezar {
    
    height: 50px;
    width: 250px;    
    margin-bottom: 20px;
    color: #fff;    
    font-size: 24px;
    font-weight: bold;
    text-align: center;
 
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;   
    border: none;
    border-radius: 50px;
    background-image: linear-gradient(135deg, #feb692 0%, #7101e1 100%);
    -webkit-box-shadow: 0 20px 30px -6px rgba(109, 8, 196, 0.5);
            box-shadow: 0 20px 30px -6px rgba(238, 103, 97, 0.5);     
    

    }

.empezar:hover {
        -webkit-transform: translateY(3px);
            -ms-transform: translateY(3px);
                transform: translateY(3px);
        -webkit-box-shadow: none;
                box-shadow: none;
}



.empezar:active {
        opacity: 0.5;
}


.section2 {
    background-color: rgba(255, 255, 255, 0.2);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 250px;
    height: auto;
    padding: 0 20px;
}

.estadisticas {
    border: 1px solid #fff;
    height: 105px;
    border-radius: 8px;
    padding: 8px 20px;
    margin: 20px;
    box-sizing: border-box;
}

img {
    width: 80%;
}

.disabled {
    cursor: not-allowed;
    opacity: 50%;
}


