/* @import url('/css/title.css'); */


/* colores
   
    --green:hsl(154, 59%, 51%);
    --blue:hsl(248, 32%, 49%);
    --dark-blue:hsl(249, 10%, 26%);
    --grayish-blue:hsl(246, 25%, 77%);
    --green-hover: #77E2B4;
    --red: hsl(0, 100%, 74%);
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {

    --texts: hsl(270, 10%, 92%);
    --titles: hsl(0,0%,100%);
    --white: hsl(0,0%,100%);
    --black: #0000;


    --background:  hsl(248, 36%, 43%);
    
    --button-bg:hsl(0, 100%, 74%);
    --button-hover: hsl(248, 15%, 47%);
    --outline:  hsl(0,0%,100%);
    
    --border-bottom: hsl(248, 69%, 36%);
    --shadows: 
    --borders: 
 

    font-size: 16px;
    --fuente: 'Poppins', sans-serif;
}





* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    box-sizing: border-box;
}


a:hover {
    cursor: pointer;
}

body{
    
    font-family: var(--fuente);
    background-color:var(--background);
    display: flex;
    height: 100vh;
    gap: 10rem;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.contenedor{
    position: relative;
    /* margin: 0 auto; */
    max-width: 1200px;
    width: 95%;
    /* height: 100%; */
}


.formulario{
    display: flex;
    gap: 3rem;
    width: 100%;
    /* padding: 10px 50px 30px 50px; */
    border-radius: 50px 0px 0px 0px;
    -webkit-border-radius: 50px 0px 0px 0px;
    -moz-border-radius: 50px 0px 0px 0px;
    -ms-border-radius: 50px 0px 0px 0px;
    -o-border-radius: 50px 0px 0px 0px;
    flex-direction: column;
    align-content: center;
} 

.caja-form{
    display: flex;
    /* width: inherit; */
    /* padding: 10px 50px 8px 50px; */
    border-radius: 50px 0px 0px 0px;
    -webkit-border-radius: 50px 0px 0px 0px;
    -moz-border-radius: 50px 0px 0px 0px;
    -ms-border-radius: 50px 0px 0px 0px;
    -o-border-radius: 50px 0px 0px 0px;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: 2rem;
}

.texto{
    color: var(--texts);
}


.encabezado {
    /* display: block; */
    /* width: 100%; */
    font-size: 3.5rem;
    font-weight: 900;
    text-align: center;
    margin-bottom: 2rem;
    color: var(--texts);
    background: linear-gradient( 144deg, #8E43AD, #F2C511 );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;

  
}


.texto label {
    display: inline-block;
    /* font-size:1.35rem; */
    /* font-weight: bold; */
    /* margin: 18px 0; */
}


.input {
    display: flex;
    align-items: center;
    gap: 1rem;    
}

.texto input{
   width: 100%;
   padding: 10px 16px;
   background-color: var(--background);
   /* font-family: var(--fuente); */
   border: none;
   border-bottom: 1px solid white;
   outline-color: var(--outline);
   font-size: 1rem;
   color: var(--white);
}



.recuperar-contraseña {
    text-align: right;
    margin-top: -26px;
    font-style: italic;
}

.texto .link-contraseña{
    display: inline-block;
    
    color: var(--texts);
}

/* .texto .link-contraseña:hover{
    color: var(--dark-blue);
   
} */

.input-login input[type="submit"]{
    width: 100%;
    padding: 10px 16px;
    margin-bottom: 30px;
    margin-top: 20px;
    font-size: 1.35rem;
    /* font-weight: bold; */
    background-color: var(--button-bg);
    text-transform: uppercase;
    color: var(--white);
    cursor: pointer;
    border: none;
    border-radius: 7px;
    box-shadow :var(--border-bottom);
    /* border-radius: 15px 0px 0px 0px; */
    /* -webkit-border-radius: 15px 0px 15px 0px; */
    /* -moz-border-radius: 15px 0px 0px 0px;
    -ms-border-radius: 15px 0px 0px 0px;
    -o-border-radius: 15px 0px 0px 0px; */
    /* border: none; 
    transition: background-color .3s ease-in-out; */
    /* -webkit-transition: background-color .3s ease-in-out; */
    /* -moz-transition: background-color .3s ease-in-out;
    -ms-transition: background-color .3s ease-in-out;
    -o-transition: background-color .3s ease-in-out; */
}

.input-login input[type="submit"]:hover{
    background-color: var(--button-hover);
    color: var(--texts);
    cursor: pointer;
}


.registrar p a{
    
    text-decoration: none;
    font-weight: 600;
    color: var(--button-bg);
}

.registrar p a:hover{
    color: rgb(236, 78, 78);
}

::placeholder {
    color: var(--texts);    
    font-family: var(--fuente);
    
}

.registro-form{
    display: none;
}

.iniciar-sesion-form{
    transition:  left 0.5s cubic-bezier(0.175,0.885,0.320,1.275);
    -webkit-transition:  left 0.5s cubic-bezier(0.175,0.885,0.320,1.275);
    -moz-transition:  left 0.5s cubic-bezier(0.175,0.885,0.320,1.275);
    -ms-transition:  left 0.5s cubic-bezier(0.175,0.885,0.320,1.275);
    -o-transition:  left 0.5s cubic-bezier(0.175,0.885,0.320,1.275);
}

.avatar__container {
    display: flex;
    border-radius: 57%;
    justify-content: center;

}

.avatar__container img {

    width: 30%;
    height: 50%;
    border-radius: 57%;
    border: 2px solid var(--black);
}


.novisible {
        
    display: none;

}

    .visible {
      
        display: block;

    }

@media (min-width: 768px) { 

.contenedor {
    width: 80%;
}


}



@media (min-width: 1024px) { 

.contenedor {
    width: 35%;
}


}