/* colores
   
    --green:hsl(154, 59%, 51%);
    --blue:hsl(248, 32%, 49%);
    --dark-blue:hsl(249, 10%, 26%);
    --grayish-blue:hsl(246, 25%, 77%);
    --green-hover: #77E2B4;
    --red: hsl(0, 100%, 74%);
*/


@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --texts:hsl(270, 10%, 92%);
  --titles:hsl(0, 0%, 100%);
  --white:hsl(0, 0%, 100%);
  --black:#0000;
  --background:hsl(248, 36%, 43%);
  --button-bg:hsl(0, 100%, 74%);
  --button-hover:hsl(248, 15%, 47%);
  --outline:hsl(0, 0%, 100%);
  --border-bottom:hsl(248, 69%, 36%);
  font-size: 16px;
  --fuente:'Poppins', sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  box-sizing: border-box;
}

a:hover {
  cursor: pointer;
}

body {
  font-family: var(--fuente);
  background-color: var(--background);
  display: flex;
  height: 100%;
  gap: 1rem;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}


/* ---------------------background animation-------------------------------------------- */


.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;

}

.circles div{
  object-fit: cover;
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
  
}

.circles div:nth-child(1){

  background: url('../public/cards/1.webp') no-repeat;
  background-size: cover;
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
  
  
}


.circles div:nth-child(2){
  background: url('../public/cards/2.webp') no-repeat;
  background-size: cover;
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;

}

.circles div:nth-child(3){
  background: url('../public/cards/3.webp') no-repeat;
  background-size: cover;
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;

}

.circles div:nth-child(4){
  background: url('../public/cards/4.webp') no-repeat;
  background-size: cover;
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles div:nth-child(5){
  background: url('../public/cards/5.webp') no-repeat;
  background-size: cover;
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles div:nth-child(6){
  background: url('../public/cards/6.webp') no-repeat;
  background-size: cover;
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles div:nth-child(7){
  background: url('../public/cards/7.webp') no-repeat;
  background-size: cover;
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles div:nth-child(8){
  background: url('../public/cards/8.webp') no-repeat;
  background-size: cover;
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}


@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}





/* ---------------------background end-------------------------------------------- */


.contenedor {
  position: relative;  
  max-width: 1200px;
  width: 95%;

}

.formulario {
  display: flex;
  gap: 3rem;
  width: 100%;
  border-radius: 50px 0px 0px 0px;
  -webkit-border-radius: 50px 0px 0px 0px;
  -moz-border-radius: 50px 0px 0px 0px;
  -ms-border-radius: 50px 0px 0px 0px;
  -o-border-radius: 50px 0px 0px 0px;
  flex-direction: column;
  align-content: center;
}

.caja-form {
  display: flex;
  border-radius: 50px 0px 0px 0px;
  -webkit-border-radius: 50px 0px 0px 0px;
  -moz-border-radius: 50px 0px 0px 0px;
  -ms-border-radius: 50px 0px 0px 0px;
  -o-border-radius: 50px 0px 0px 0px;
  flex-direction: column;
  align-content: center;
  align-items: center;
  gap: 2rem;
}

.texto {
  color: var(--texts);
}

.encabezado {
 
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
  margin-bottom: 2rem;
  color: var(--texts);
  background: linear-gradient(144deg, #8E43AD, #F2C511);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.texto label {
  display: inline-block;

}

.input {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.texto input {
  width: 100%;
  padding: 10px 16px;
  background-color: hsl(248deg 36% 43% / 35%); 
  border: none;
  border-bottom: 1px solid white;
  outline-color: var(--outline);
  font-size: 1rem;
  color: var(--white);
}

.recuperar-contraseña {
  text-align: right;
  margin-top: -26px;
  font-style: italic;
}

.texto .link-contraseña {
  display: inline-block;
  color: var(--texts);
}


.input-login input[type="submit"] {
  font-family: var(--texts);
  width: 100%;
  padding: 10px 16px;
  margin-bottom: 30px;
  margin-top: 20px;
  font-size: 1.35rem;
  font-weight: bold;
  background-color: var(--button-bg);
  text-transform: uppercase;
  color: var(--white);
  cursor: pointer;
  border: none;
  border-radius: 7px;
  box-shadow: var(--border-bottom);

  &:hover {
    background-color: var(--button-hover);
  color: var(--texts);
  cursor: pointer;
  }
}


.social__contenedor {
  
  display: flex;
  justify-content: center;
}

.registrar p a {
  text-decoration: none;
  font-weight: 600;
  color: var(--button-bg);

  &:hover {
    color: rgb(236, 78, 78);
  }
}

::placeholder {
  color: var(--texts);
  font-family: var(--fuente);
}

.registro-form {
  display: none;
}

.iniciar-sesion-form {
  transition: left 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition: left 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: left 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: left 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: left 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.avatar__container {
  display: flex;
  border-radius: 57%;
  justify-content: center;
  
}
.avatar__container img:nth-child(1){
  border: none;
}

  .avatar {
    
    width: 35%;
    height: 35%;
    border-radius: 50%;     
    border: 3px solid rgba(235, 225, 225, 0.355);
  }


.novisible {
  display: none;
}

.visible {
  display: block;
}

@media (min-width: 768px) {
  .contenedor {
    width: 80%;
  }

  .encabezado{
    font-size: 3rem;
  }
}

@media (min-width: 1024px) {
  .contenedor {
    width: 35%;
  }
 
}
